<div class="overflow-x-auto text-[var(--text-color)]">
  <div class="flex">
    <div class="w-1/3">
      <app-button-exit routerPath="/exploracion"></app-button-exit>
    </div>
    <div>
      <h1 class="text-4xl font-bold text-center mb-4 text-white">Cursos</h1>
      <p class="text-xl text-center mb-10 text-[var(--text2-color)]">
        Inscribete en los cursos que más te gusten
      </p>
    </div>
  </div>

  <table
    class="min-w-full bg-white border border-gray-200 shadow-md rounded-lg"
  >
    <thead>
      <tr class="bg-gray-100">
        <th class="py-2 px-4 border">ID</th>
        <th class="py-2 px-4 border">Nombre</th>
        <th class="py-2 px-4 border">Descripción</th>
        <th class="py-2 px-4 border">Fecha</th>
        <th class="py-2 px-4 border">Participantes Activos</th>
        <th class="py-2 px-4 border">Lugar</th>
        <th class="py-2 px-4 border">Estado</th>
        <th class="py-2 px-4 border">Inscribirse</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventos" class="text-center">
        <td class="py-2 px-4 border">{{ evento.id }}</td>
        <td class="py-2 px-4 border">{{ evento.nombre }}</td>
        <td class="py-2 px-4 border">{{ evento.descripcion }}</td>
        <td class="py-2 px-4 border">{{ evento.fecha }}</td>
        <td class="py-2 px-4 border">{{ evento.participantes }}</td>
        <td class="py-2 px-4 border">{{ evento.lugar }}</td>
        <td class="py-2 px-4 border">
          <span
            [ngClass]="{
              'text-green-600': evento.estado === 'Disponible',
              'text-red-600': evento.estado === 'Cupos Llenos'
            }"
          >
            {{ evento.estado }}
          </span>
        </td>
        <td class="py-2 px-4 border">
          <button
            class="bg-blue-500 text-white px-4 py-1 rounded-lg hover:bg-blue-700 disabled:bg-gray-400"
            [disabled]="evento.estado === 'Cupos Llenos'"
            (click)="irAInscripcion(evento.link)"
          >
            Ir allá
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
