<div class="min-h-screen">
  <app-header
    [titulo]="'FOROS Y TEMAS DE SU INTERÉS'"
    [exitRoute]="'/social'"
  ></app-header>

  <div class="flex justify-center space-x-4 mt-4">
    <button
      (click)="selectForo('BAILOTERAPIA')"
      class="px-4 py-2 rounded-lg shadow font-serif text-xl font-semibold transition-colors duration-300"
      [ngClass]="{
        'bg-[var(--background-color)] text-[var(--primary-color)]': !isInverted,
        'bg-[var(--primary-color)] text-[var(--background-color)]': isInverted
      }"
    >
      Ver Foro Bailoterapia
    </button>

    <button
      (click)="selectForo('CAMINATAS')"
      class="px-4 py-2 bg-[var(--second-color)] text-[var(--text-color)] rounded-lg shadow font-serif text-xl font-semibold transition-colors duration-300"
      [ngClass]="{
        'bg-[var(--second-color)] text-[var(--text-color)]': !isInverted,
        'bg-[var(--text-color)] text-[var(--second-color)]': isInverted
      }"
    >
      Ver Foro Caminatas
    </button>
  </div>

  <div
    *ngIf="selectedForo === 'BAILOTERAPIA'"
    class="transition-all duration-500 animate-slide-in h-100%"
  >
    <app-chat-box
      class="ms-2"
      [tituloChat]="'FORO BAILOTERAPIA'"
      [mensajes]="mensajesPorForo['BAILOTERAPIA']"
      (mensajeEnviado)="saveMessage('BAILOTERAPIA', $event)"
    >
    </app-chat-box>
  </div>

  <div
    *ngIf="selectedForo === 'CAMINATAS'"
    class="transition-all duration-500 animate-slide-in"
  >
    <app-chat-box
      class="ms-2"
      [tituloChat]="'FORO CAMINATAS'"
      [mensajes]="mensajesPorForo['CAMINATAS']"
      (mensajeEnviado)="saveMessage('CAMINATAS', $event)"
    >
    </app-chat-box>
  </div>
</div>
