<!-- <div
  class="w-full flex flex-col items-center justify-center min-h-screen bg-[var(--background-color)] rounded-md"
>
  <div
    class="p-12 m-6 rounded-lg shadow-lg min-w-96 flex flex-col items-center bg-[var(--primary-color)]"
  >
    <div class="p-5">
      <app-h1-header></app-h1-header>
    </div>
    <div class="p-5 w-60 h-52">
      <app-icon-jubil></app-icon-jubil>
    </div>
    <div class="p-8">
      <app-form-login
        (datosIngresados)="recibirDatosFormulario($event)"
      ></app-form-login>
    </div>
    <div class="">
      <app-footer></app-footer>
    </div>
  </div>
</div> -->
<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="identification">Identificación</label>
      <input
        class="text-black"
        type="text"
        id="identification"
        formControlName="identification"
      />
      <small
        *ngIf="
          loginForm.controls['identification'].invalid &&
          loginForm.controls['identification'].touched
        "
      >
        La identificación es obligatoria
      </small>
    </div>

    <div>
      <label for="password">Contraseña</label>
      <input
        class="text-black"
        type="password"
        id="password"
        formControlName="password"
      />
      <small
        *ngIf="
          loginForm.controls['password'].invalid &&
          loginForm.controls['password'].touched
        "
      >
        La contraseña debe tener al menos 6 caracteres
      </small>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>
