<!-- <div
  class="w-full flex flex-col items-center justify-center min-h-screen bg-[var(--background-color)] rounded-md"
>
  <div
    class="p-12 m-6 rounded-lg shadow-lg min-w-96 flex flex-col items-center bg-[var(--primary-color)]"
  >
    <div class="p-5">
      <app-h1-header></app-h1-header>
    </div>
    <div class="p-5 w-60 h-52">
      <app-icon-jubil></app-icon-jubil>
    </div>
    <div class="p-8">
      <app-form-login
        (datosIngresados)="recibirDatosFormulario($event)"
      ></app-form-login>
    </div>
    <div class="">
      <app-footer></app-footer>
    </div>
  </div>
</div> -->
<div class="flex bg-red-600 min-h-screen justify-between">
  <div class="bg-violet-700 min-h-full text-center w-full">
    <img src="{{ fondo }}" alt="FONDO" />
  </div>
  <div
    class="login-container min-h-full bg-yellow-400 justify-end w-1/3 items-center"
  >
    <app-icon-jubil class="w-32"></app-icon-jubil>
    <h2 class="text-[var(--text-color)] text-center font-bold text-4xl p-12">
      Iniciar Sesión
    </h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label class="text-[--text-color]" for="identification"
          >Identificación</label
        >
        <input
          class="text-black"
          type="text"
          id="identification"
          formControlName="identification"
        />
        <small
          class="text-red-400"
          *ngIf="
            loginForm.controls['identification'].invalid &&
            loginForm.controls['identification'].touched
          "
        >
          La identificación es obligatoria
        </small>
      </div>

      <div>
        <label for="password">Contraseña</label>
        <input
          class="text-black"
          type="password"
          id="password"
          formControlName="password"
        />
        <small
          class="text-red-400"
          *ngIf="
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
          "
        >
          La contraseña debe tener al menos 6 caracteres
        </small>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="pt-6">
        Iniciar Sesión
      </button>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>
</div>
