<div class="flex bg-red-600 min-h-screen justify-between">
  <div class="bg-violet-700 min-h-full text-center w-full">
    <img src="{{ fondo }}" alt="FONDO" />
  </div>
  <div
    class="login-container p-9 min-h-full min-w-80 bg-yellow-400 justify-end w-1/3 items-center"
  >
    <app-icon-jubil class="w-32"></app-icon-jubil>
    <h2 class="text-[var(--text-color)] text-center font-bold text-4xl p-12">
      Iniciar Sesión
    </h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label class="text-[--text-color] font-semibold" for="identification"
          >Identificación</label
        >
        <input
          placeholder="Ingresa identificación"
          class="text-black"
          type="text"
          id="identification"
          formControlName="identification"
        />
        <small
          class="text-red-400"
          *ngIf="
            loginForm.controls['identification'].invalid &&
            loginForm.controls['identification'].touched
          "
        >
          La identificación es obligatoria
        </small>
      </div>

      <div>
        <label class="text-[var(--text-color)] font-semibold" for="password"
          >Contraseña</label
        >
        <input
          placeholder="Ingresa Contraseña"
          class="text-black"
          type="password"
          id="password"
          formControlName="password"
        />
        <small
          class="text-red-400 p-0"
          *ngIf="
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
          "
        >
          La contraseña debe tener al menos 6 caracteres
        </small>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="pt-6">
        Iniciar Sesión
      </button>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>
</div>
