<div *ngIf="questions.length === 0">Cargando preguntas...</div>

<div *ngFor="let question of questions">
  <p>{{ question.position }}. {{ question.question }}</p>

  <div *ngFor="let scale of likertScales">
    <label>
      <input
        type="radio"
        name="q{{ question.questionId }}"
        [value]="scale.id"
        (change)="selectAnswer(question.questionId, scale.id)"
      />
      {{ scale.name }}
    </label>
  </div>
</div>

<button
  (click)="submitTest()"
  class="bg-blue-500 text-white px-4 py-2 mt-4 rounded"
>
  Enviar respuestas
</button>
