<div class="bg-[var(--primary-color)] p-6 rounded-lg shadow-md">
  <h2
    class="text-center text-2xl font-bold mb-4 font-serif text-[var(--text-color)]"
  >
    Cuestionario
  </h2>

  <div
    *ngIf="questions.length === 0"
    class="text-center text-lg text-[var(--text-color)]"
  >
    Cargando preguntas...
  </div>

  <form [formGroup]="form" (ngSubmit)="submitTest($event)">
    <div
      *ngFor="let question of questions; trackBy: trackByQuestionId"
      class="mb-4 p-4 bg-[var(--primary-color)] rounded-lg shadow"
    >
      <h3
        class="text-xl font-semibold mb-2 font-serif text-[var(--text-color)]"
      >
        {{ question.position }}. {{ question.question }}
      </h3>

      <div class="flex flex-col space-y-2">
        <label
          *ngFor="let scale of likertScales; trackBy: trackByScaleId"
          class="flex items-center cursor-pointer font-serif text-xl text-[var(--text-color)]"
        >
          <input
            type="radio"
            [formControlName]="'q' + question.questionId"
            [value]="scale.id"
            class="mr-2 accent-[var(--background-color)]"
          />
          {{ scale.name }}
        </label>
      </div>
    </div>

    <button
      type="submit"
      class="w-full bg-[var(--background-color)] text-[var(--primary-color)] font-serif font-bold py-2 rounded-lg hover:bg-[var(--text-color)] hover:text-[var(--primary-color)] transition-all"
    >
      Enviar Respuestas
    </button>
  </form>
</div>
