<div
  class="flex flex-col items-center justify-center min-h-screen bg-[var(--background-color)] rounded-md m-0"
>
  <div
    class="p-12 rounded-lg shadow-lg min-w-96 flex flex-col items-center bg-[var(--primary-color)]"
  >
    <div class="bg-custom mb-4">
      <app-h1-header></app-h1-header>
    </div>
    <div class="w-28">
      <app-icon-jubil></app-icon-jubil>
    </div>
    <div class="h-96 mt-2">
      <app-form-register
        (datosRegistro)="recibirDatosRegistro($event)"
      ></app-form-register>
    </div>
  </div>
</div>
