<div class="text-center flex justify-center">
  <div class="w-1/3">
    <app-button-exit routerPath="/modules"></app-button-exit>
  </div>

  <div class="w-2/3 text-start">
    <h1 class="text-5xl font-bold mb-4">Seccion Orientacion Vocacional</h1>
    <p class="text-xl mb-10 pl-28">Descubre lo mejor para ti.</p>
  </div>
</div>
<div class="flex justify-center gap-6 flex-wrap text-white">
  <app-modulo-only
    *ngFor="let card of cards"
    [title]="card.title"
    [description]="card.description"
    [icon]="card.icon"
    [link]="card.link"
  ></app-modulo-only>
</div>
