<div class="flex justify-center items-center min-h-screen p-0 m-0">
  <form class="rounded-lg p-2 w-80 space-y-4 text-center">
    <label class="block text-center">
      <span class="text-[var(--text-color)] font-semibold">NOMBRE</span>
      <input
        type="text"
        class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
      />
    </label>

    <label class="block text-center">
      <span class="text-[var(--text-color)] font-semibold">CEDULA</span>
      <input
        type="text"
        class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
      />
    </label>

    <label class="block text-center">
      <span class="text-[var(--text-color)] font-semibold">CONTRASEÑA</span>
      <input
        type="password"
        class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
      />
    </label>

    <label class="block text-center">
      <span class="text-[var(--text-color)] font-semibold">DIRECCION</span>
      <input
        type="text"
        class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
      />
    </label>

    <label class="block text-center">
      <span class="text-[var(--text-color)] font-semibold">EDAD</span>
      <input
        type="number"
        class="w-full mt-1 mb-5 p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
      />
    </label>
    <span class="text-[var(--text-color)] font-semibold"
      >EVALUACION PSICOLOGICA</span
    >

    <button
      class="w-1/2 bg-[var(--primary-color)] text-[var(--text-color)] font-semibold p-2 rounded-lg hover:bg-blue-700 transition"
    >
      Iniciar
    </button>
  </form>
</div>
