.error-container {
  min-height: 20px;
}
.error-message {
  color: blueviolet;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.error-container div[ng-reflect-ng-if="true"] {
  opacity: 1;
}
