<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-ful">
  <div class="grid grid-cols-3 gap-2 h-64 my-3 w-full">
    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Nombre</span>
      <input
        maxlength="30"
        type="text"
        formControlName="names"
        placeholder="Nombre"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Apellidos</span>
      <input
        maxlength="30"
        type="text"
        formControlName="lastNames"
        placeholder="Apellidos"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Cédula</span>
      <input
        type="text"
        maxlength="10"
        minlength="7"
        formControlName="identification"
        placeholder="No Documento"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
        [ngClass]="{
          'border-red-500':
            f['identification'].invalid && f['identification'].touched,
          'border-green-500': f['identification'].valid
        }"
      />
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold"
        >Correo Electrónico</span
      >
      <input
        type="email"
        formControlName="email"
        placeholder="email@gmail.com"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
        [ngClass]="{
          'border-red-500': f['email'].invalid && f['email'].touched,
          'border-green-500': f['email'].valid
        }"
      />
      <div class="error-container">
        <div
          *ngIf="f['email'].invalid && f['email'].touched"
          class="error-message"
        ></div>
      </div>
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Dirección</span>
      <input
        type="text"
        formControlName="address"
        placeholder="cll-#-#"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Teléfono</span>
      <input
        maxlength="10"
        type="tel"
        formControlName="phone"
        placeholder="Ingrese su Teléfono"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
    </label>

    <label class="flex text-center flex-col items-center relative">
      <span class="text-[var(--text-color)] font-semibold">Contraseña</span>
      <div class="relative w-full">
        <input
          [type]="showPassword ? 'text' : 'password'"
          minlength="6"
          formControlName="password"
          placeholder="Ingrese su Contraseña"
          class="input-field text-[var(--text-color)] border rounded-md p-2 w-full pr-10"
        />
        <button
          type="button"
          class="absolute inset-y-0 right-2 flex items-center"
          (click)="togglePasswordVisibility()"
        >
          <svg
            *ngIf="!showPassword"
            class="w-5 h-5 text-gray-500"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.25 9.75L21 3m0 0L15.25 3m5.75 0v6.5"
            ></path>
          </svg>
          <svg
            *ngIf="showPassword"
            class="w-5 h-5 text-gray-500"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 3l18 18m-2.5-2.5a9 9 0 01-13-13M3 3l2.5 2.5m0 0a9 9 0 0113 13M3 3l18 18"
            ></path>
          </svg>
        </button>
      </div>
      <div class="error-container">
        <div
          *ngIf="f['password'].invalid && f['password'].touched"
          class="error-message"
        >
          Al menos 6 caracteres.
        </div>
      </div>
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold"
        >Fecha de Nacimiento</span
      >
      <input
        type="date"
        formControlName="birthDate"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Sexo</span>
      <select
        formControlName="gender"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
        [ngClass]="{
          'border-red-500': f['gender'].invalid && f['gender'].touched,
          'border-green-500': f['gender'].valid
        }"
      >
        <option value="" disabled selected>Seleccione...</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
      <div class="error-container">
        <div
          *ngIf="f['gender'].invalid && f['gender'].touched"
          class="error-message text-red-500"
        ></div>
      </div>
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Profesión</span>
      <input
        type="text"
        formControlName="job"
        placeholder="Ingrese su Profesión"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
    </label>
  </div>

  <div class="flex flex-col items-center mt-20">
    <button
      type="submit"
      class="px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-300"
    >
      Registrar
    </button>
  </div>
</form>
