<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-ful">
  <div class="grid grid-cols-3 gap-2 h-64 my-3 w-full">
    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Nombre</span>
      <input
        maxlength="30"
        type="text"
        formControlName="names"
        placeholder="Nombre"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
      <div class="error-container">
        <div
          *ngIf="f['names'].invalid && f['names'].touched"
          class="error-message"
        >
          Apellidos son obligatorios.
        </div>
      </div>
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Apellidos</span>
      <input
        maxlength="30"
        type="text"
        formControlName="lastNames"
        placeholder="Apellidos"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
      <div class="error-container">
        <div
          *ngIf="f['lastNames'].invalid && f['lastNames'].touched"
          class="error-message"
        >
          Ingrese un Apellido válido.
        </div>
      </div>
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Cédula</span>
      <input
        type="text"
        maxlength="10"
        formControlName="identification"
        placeholder="No Documento"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
      <div class="error-container">
        <div
          *ngIf="f['identification'].invalid && f['identification'].touched"
          class="error-message"
        >
          Ingrese una identification válida.
        </div>
      </div>
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold"
        >Correo Electrónico</span
      >
      <input
        type="email"
        formControlName="email"
        placeholder="email@gmail.com"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
      <div class="error-container">
        <div
          *ngIf="f['email'].invalid && f['email'].touched"
          class="error-message"
        >
          Ingrese un email válido.
        </div>
      </div>
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Dirección</span>
      <input
        type="text"
        formControlName="address"
        placeholder="cll-#-#"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Teléfono</span>
      <input
        maxlength="10"
        type="tel"
        formControlName="phone"
        placeholder="Ingrese su Teléfono"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
      <div class="error-container">
        <div
          *ngIf="f['phone'].invalid && f['phone'].touched"
          class="error-message"
        >
          10 dígitos numéricos.
        </div>
      </div>
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Contraseña</span>
      <input
        minlength="6"
        type="password"
        formControlName="password"
        placeholder="Ingrese su Contraseña"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
      <div class="error-container">
        <div
          *ngIf="f['password'].invalid && f['password'].touched"
          class="error-message"
        >
          Al menos 6 caracteres.
        </div>
      </div>
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold"
        >Fecha de Nacimiento</span
      >
      <input
        type="date"
        formControlName="birthDate"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Sexo</span>
      <input
        type="text"
        formControlName="gender"
        placeholder="M / F"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
    </label>

    <label class="flex text-center flex-col items-center">
      <span class="text-[var(--text-color)] font-semibold">Profesión</span>
      <input
        type="text"
        formControlName="job"
        placeholder="Ingrese su Profesión"
        class="input-field text-[var(--text-color)] border rounded-md p-2"
      />
    </label>
  </div>

  <div class="flex flex-col items-center mt-20">
    <button
      type="submit"
      class="px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-300"
    >
      Registrar
    </button>
  </div>
</form>
