<div
  class="w-3/5 mx-auto bg-[var(--primary-color)] p-6 shadow-md rounded-lg border border-gray-200"
>
  <h2
    class="text-2xl font-bold text-[var(--text-color)] text-center mb-4 font-serif"
  >
    Agendar Cita
  </h2>

  <form
    [formGroup]="meetForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4"
  >
    <div>
      <label class="block font-semibold text-[var(--text-color)] text-lg"
        >Descripción del problema</label
      >
      <textarea
        formControlName="description"
        class="w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
        rows="3"
        placeholder="Describe tu problema aquí..."
      ></textarea>
    </div>

    <div>
      <label class="block font-semibold text-[var(--text-color)] text-lg"
        >Fecha</label
      >
      <input
        type="date"
        formControlName="date"
        class="w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
      />
    </div>

    <div>
      <label
        class="block font-semibold font-serif text-[var(--text-color)] text-lg"
        >Selecciona un Médico</label
      >
      <select
        formControlName="doctor"
        class="w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
      >
        <option value="" disabled selected>Seleccione un médico</option>
        <option *ngFor="let doc of doctors" [value]="doc.id">
          {{ doc.name }}
        </option>
      </select>
    </div>

    <div>
      <label class="block font-semibold text-[var(--text-color)] text-lg"
        >Hora</label
      >
      <input
        type="time"
        formControlName="time"
        class="w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
      />
    </div>

    <button
      type="submit"
      class="w-full bg-[var(--background-color)] text-[var(--primary-color)] font-semibold p-2 rounded-lg hover:bg-[var(--second-color)] transition font-serif hover:text-[var(--text-color)]"
    >
      Agendar Cita
    </button>
  </form>
</div>
