<div class="flex flex-col items-center bg-slate-900 w-full pt-2">
  <div class="w-40">
    <app-mi-perfil></app-mi-perfil>
  </div>
  <div class="py-0 m-0 w-full">
    <div class="flex gap-12 pt-2 justify-around">
      <div class="flex gap-2 text-[var(--text2-color)] flex-col text-center">
        <label for="job">Profesion</label>
        <h2 id="job">{{ user.job || "No especificado" }}</h2>
      </div>
      <div class="flex gap-2 text-[var(--text2-color)] flex-col text-center">
        <label for="birthDate">Fecha nacimiento</label>
        <h2 id="birthDate">{{ user.identification || "No especificado" }}</h2>
      </div>
    </div>
  </div>
  <h1 class="my-7">contact</h1>
  <div class="pt-0 w-full pb-6">
    <div class="flex gap-12 pt-2 justify-around items-center">
      <div class="flex gap-2 text-[var(--text2-color)] flex-col text-center">
        <label for="email">Correo</label>
        <h2 id="email">{{ user.email || "No especificado" }}</h2>
      </div>
      <div class="flex gap-2 text-[var(--text2-color)] flex-col text-center">
        <label for="phone">Telefono</label>
        <h2 id="phone">{{ user.phone || "No especificado" }}</h2>
      </div>
      <div class="flex gap-2 text-[var(--text2-color)] flex-col text-center">
        <label for="address">Direccion</label>
        <h2 id="address">{{ user.address || "No especificado" }}</h2>
      </div>
    </div>
  </div>
</div>
