<div
  class="flex flex-col justify-around items-center p-7 bg-slate-900 min-h-screen"
>
  <h1></h1>
  <div class="w-60">
    <app-mi-perfil></app-mi-perfil>
  </div>
  <div class="flex gap-12 pt-9">
    <div class="flex gap-2 text-[var(--text2-color)]">
      <span>ic</span>
      <h2>cumpleaños</h2>
    </div>
    <div class="flex gap-2 text-[var(--text2-color)]">
      <span>ic</span>
      <h2>cumpleaños</h2>
    </div>
    <div class="flex gap-2 text-[var(--text2-color)]">
      <span>ic</span>
      <h2>cumpleaños</h2>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
