<div class="min-h-screen">
  <app-header
    [titulo]="'AREA PSICOLOGICA'"
    [exitRoute]="'/modules'"
  ></app-header>

  <div class="flex justify-center space-x-4 mt-4">
    <button
      (click)="seleccionarForo('BAILOTERAPIA')"
      class="px-4 py-2 bg-[var(--background-color)] text-[var(--primary-color)] rounded-lg shadow"
    >
      Obtener Cita
    </button>

    <button
      (click)="seleccionarForo('CAMINATAS')"
      class="px-4 py-2 bg-[var(--second-color)] text-[var(--text-color)] rounded-lg shadow"
    >
      Mis Citas
    </button>
  </div>

  <div
    *ngIf="selectedForo === 'BAILOTERAPIA'"
    class="transition-all duration-500 animate-slide-in mt-6"
  >
    <app-form-meet></app-form-meet>
  </div>

  <div
    *ngIf="selectedForo === 'CAMINATAS'"
    class="transition-all duration-500 animate-slide-in text-center mt-6 mx-auto w-full"
  >
    <app-meeting-info></app-meeting-info>
  </div>
</div>
