<div
  class="bg-white bg-opacity-10 backdrop-blur-md rounded-lg p-6 border border-white border-opacity-20 hover:transform hover:-translate-y-4 hover:shadow-lg transition-all flex flex-col justify-center items-center"
>
  <img
    [src]="icon"
    alt="Icono"
    class="w-full mx-0 items-center flex justify-center"
  />
  <h2 class="text-2xl font-semibold mb-2 hover:scale-110 transition-transform">
    {{ title }}
  </h2>
  <p class="text-gray-300 mb-4">{{ description }}</p>
  <a
    [href]="link"
    class="bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-600 hover:transform hover:-translate-y-1 transition-all flex items-center justify-center"
    >Saber Más</a
  >
</div>
