<div class="bg-[var(--primary-color)] flex flex-col">
  <div
    *ngFor="let module of modules()"
    class="p-4 bg-[var(--primary-color)] rounded-lg shadow-lg m-2 cursor-pointer hover:bg-[var(--second-color)] transition min-w-32 flex flex-col-reverse items-center"
    (click)="goToModule(module.route)"
  >
    <img
      [src]="module.img"
      alt="Modulo"
      class="w-full h-32 object-cover rounded-lg"
    />
    <h2
      class="text-center font-bold mt-2 font-serif text-3xl text-[var(--text2-color)]"
    >
      {{ module.name }}
    </h2>
  </div>
</div>
