<div
  class="max-w-3xl shadow-lg rounded-xl p-6 flex gap-4 border border-gray-200 justify-between mx-auto flex-col overflow-y-auto"
>
  <div *ngIf="meets.length === 0" class="text-center text-gray-500">
    No hay citas agendadas
  </div>
  <div
    *ngFor="let meet of meets"
    class="border p-4 rounded-lg shadow-md mb-4 w-full"
  >
    <div class="flex justify-between">
      <div class="flex items-center space-x-4">
        <img
          [src]="'assets/img/' + meet.doctorImg"
          alt="Foto Doctor"
          class="w-16 h-16 rounded-full border"
        />
        <div>
          <h3 class="font-semibold text-lg">{{ meet.doctorName }}</h3>
          <p class="text-gray-600 text-sm">
            <strong>📅 Fecha:</strong> Fecha: {{ meet.date }}
          </p>
          <p class="text-gray-600 text-sm">
            <strong>⏰ Hora:</strong> Hora: {{ meet.time }}
          </p>
        </div>
      </div>
      <div>
        <strong>🔗 Meet:</strong
        ><a
          [href]="meet.meetLink"
          target="_blank"
          class="text-blue-500 hover:underline text-sm block mt-2"
          >Ir a la reunión</a
        >
      </div>
    </div>
    <p class="text-gray-700 mt-2">Motivo: {{ meet.description }}</p>
  </div>
</div>
