<div
  *ngIf="meets.length === 0"
  class="text-center text-gray-500 gap-4 mx-auto shadow-lg w-full"
>
  No hay citas agendadas
</div>
<div class="max-h-[500px] overflow-y-auto scrollbar-hidden">
  <div
    *ngFor="let meet of meets; let i = index"
    class="p-4 rounded-lg shadow-md mb-4 w-full flex flex-col justify-between bg-[var(--primary-color)] overflow-y-auto"
  >
    <div class="flex justify-between items-center">
      <div class="flex space-x-4 justify-between">
        <div class="text-start">
          <h3 class="font-semibold text-lg text-gray-600">
            {{ meet.doctorName }}
          </h3>
          <p class="text-gray-600 text-sm">
            <strong>📅 Fecha:</strong>
            {{ meet.date | date : "dd/MM/yyyy hh:mm a" }}
          </p>
        </div>
      </div>
      <div class="mr-4">
        <strong>🔗 Meet:</strong
        ><a
          [href]="'https://meet.google.com/landing?pli=1'"
          target="_blank"
          class="text-blue-500 hover:underline text-sm block mt-2"
          >Ir a la reunión</a
        >
      </div>
    </div>
    <p class="text-gray-700 mt-2">Motivo: {{ meet.description }}</p>
    <button
      (click)="confirmDelete(meet.id, i)"
      class="bg-red-500 text-white px-4 py-2 rounded mt-3 hover:bg-red-600"
    >
      ❌ Cancelar Cita
    </button>
  </div>
</div>
