<header
  class="flex justify-between items-center p-5 bg-[var(--background2-color)]"
>
  <div class="w-14">
    <app-icon-jubil></app-icon-jubil>
  </div>
  <div class="flex flex-col items-center font-bold">
    <h1 class="text-center pb-4 text-xl text-[var(--second-color)]">
      {{ titulo }}
    </h1>
    <nav class="text-[var(--primary-color)]">
      <ul class="flex space-x-6">
        <li><a href="#" class="hover:text-gray-400">Inicio</a></li>
        <li><a href="/modulos" class="hover:text-gray-400">Módulos</a></li>
        <li>
          <a href="/evaluaciones" class="hover:text-gray-400">Psicologico</a>
        </li>
        <li><a href="#" class="hover:text-gray-400">Contacto</a></li>
      </ul>
    </nav>
  </div>

  <div class="w-16" (click)="goToPerfil()">
    <app-mi-perfil></app-mi-perfil>
  </div>
</header>
