<div
  class="w-full flex flex-col items-center justify-center bg-custom min-h-screen bg-[var(--background-color)] rounded-md"
>
  <div
    class="p-12 m-6 rounded-lg shadow-lg min-w-96 flex flex-col items-center bg-[var(--primary-color)]"
  >
    <div class="p-5">
      <app-h1-header> </app-h1-header>
    </div>
    <div class="p-5 w-80">
      <app-icon-jubil></app-icon-jubil>
    </div>
    <div><app-button-iniciar></app-button-iniciar></div>
    <div class="p-5">
      <app-button-registre></app-button-registre>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
