<div
  class="fondo w-full flex items-center justify-end bg-custom min-h-screen bg-[var(--background-color)] rounded-md"
>
  <h1 class="titulo">Bienvenido a JubilApp</h1>
  <div
    class="p-9 rounded-lg shadow-lg min-w-80 flex flex-col items-center bg-[var(--primary-color)]"
  >
    <div class="p-5">
      <app-h1-header> </app-h1-header>
    </div>
    <div class="p-5 w-64">
      <app-icon-jubil></app-icon-jubil>
    </div>
    <div><app-button-iniciar></app-button-iniciar></div>
    <div class="p-5">
      <app-button-registre></app-button-registre>
    </div>
    <div class="p-0">
      <app-footer class="p-0 file:"></app-footer>
    </div>
  </div>
</div>
