<div class="flex justify-center gap-6 flex-wrap flex-col">
  <div class="text-center">
    <h1 class="text-5xl font-bold mb-4">Seleccione un Apartado</h1>
    <p class="text-xl mb-10">
      Módulos de orientación para jubilados y pensionados
    </p>
  </div>
  <div class="flex justify-center gap-6 flex-wrap">
    <app-modulo-only
      *ngFor="let card of cards"
      [title]="card.title"
      [description]="card.description"
      [icon]="card.icon"
      [link]="card.link"
    ></app-modulo-only>
  </div>
</div>
