<form
  (ngSubmit)="enviarDatos()"
  class="rounded-lg p-6 w-full space-y-4 text-center bg-transparent"
>
  <label class="text-center flex flex-col justify-between items-center w-full">
    <span class="text-[var(--text-color)] font-semibold font-serif text-lg">
    </span>
    <input
      type="text"
      [(ngModel)]="identification"
      #cedulaInput="ngModel"
      class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none text-[var(--text-color)]"
      name="cedula"
      placeholder="Ingresa tu cédula"
      required
    />
    <div
      *ngIf="cedulaInput.invalid && cedulaInput.touched"
      class="text-red-500 text-sm"
    >
      La cédula es requerida
    </div>
  </label>

  <label class="text-center flex flex-col w-full justify-between items-center">
    <span class="text-[var(--text-color)] font-semibold font-serif text-lg">
      CONTRASEÑA
    </span>
    <input
      type="password"
      [(ngModel)]="password"
      class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none text-black"
      name="password"
      placeholder="Ingresa tu contraseña"
      required
    />
  </label>

  <button
    type="submit"
    [disabled]="isLoading"
    class="mt-6 w-full p-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors"
  >
    {{ isLoading ? "Cargando..." : "Iniciar Sesión" }}
  </button>
</form>
