<form class="rounded-lg p-6 w-full space-y-4 text-center bg-transparent">
  <label class="text-center flex justify-between items-center w-full">
    <span class="text-[var(--text-color)] font-semibold">CEDULA</span>
    <input
      type="text"
      class="w-3/5 mt-1 p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
    />
  </label>

  <label class="text-center flex w-full justify-between items-center">
    <span class="text-[var(--text-color)] font-semibold">CONTRASEÑA</span>
    <input
      type="password"
      class="w-3/5 mt-1 p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300 outline-none"
    />
  </label>
</form>
