<div class="admin-container">
  <!-- Header con ID y Nombre del Médico -->
  <header>
    <h2>Panel de Administración</h2>
    <div class="doctor-info">
      <label>ID Médico:</label>
      <input type="number" [(ngModel)]="doctorId" placeholder="Ingrese ID" />
      <label>Nombre Médico:</label>
      <input
        type="text"
        [(ngModel)]="doctorName"
        placeholder="Ingrese nombre"
      />
      <button (click)="updateDoctor()">Actualizar</button>
    </div>
  </header>

  <!-- Tabla de Citas Médicas -->
  <table>
    <thead>
      <tr>
        <th>ID Cita</th>
        <th>ID Usuario</th>
        <th>Nombre Usuario</th>
        <th>Fecha</th>
        <th>Médico</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.id }}</td>
        <td>{{ appointment.userId }}</td>
        <td>{{ appointment.userNames }}</td>
        <td>{{ appointment.date | date : "yyyy-MM-dd" }}</td>
        <td>{{ appointment.doctorName }}</td>
        <td>{{ appointment.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
