/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffffff;
  --second-color: #d9d9d9;
  --text-color: #334a58;
  --text2-color: #7f868b;
}
