/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffffff;
  --second-color: #d9d9d9;
  --text-color: #334a58;
  --text2-color: #7f868b;
  --background-color: #334a58;
  --font-type: serif;
  --background2-color: #1a2a3a;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a2a3a;
  color: #ffffff;
}

/* Opcional: Asegurar que todos los elementos hereden la tipografía */
* {
  font-family: "Poppins", sans-serif;
}
