<div class="fixed w-full top-0 left-0 shadow-md z-50">
  <app-header [titulo]="'RECURSOS DE EXPLORACION'"></app-header>
</div>
<div class="bg-[var(--primary-color)] flex flex-col mt-28">
  <div
    *ngFor="let activity of activites()"
    class="p-4 bg-[var(--primary-color)] rounded-lg m-2 transition min-w-32 flex flex-col items-center"
  >
    <h2
      class="text-center font-bold mt-2 font-serif text-[var(--second-color)] text-3xl"
    >
      {{ activity.name }}
    </h2>
    <img
      [src]="activity.img"
      alt="Modulo"
      class="w-full h-32 object-cover rounded-3xl"
    />
    <ul>
      <a
        class="hover:underline font-serif hover:bg-[var(--text2-color)] text-xl"
        href="{{ activity.link }}"
        >INSCRIBIRSE</a
      >
    </ul>
  </div>
</div>
