<div class="flex justify-center gap-6 flex-wrap flex-col">
  <div class="text-center">
    <h1 class="text-5xl font-bold mb-4">
      Conoce nuestras actividades de la semana
    </h1>
    <p class="text-xl mb-10">Inscribete en las actividades que más te gusten</p>
    <span>Inscribete ahora</span>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-center gap-6 flex-wrap w-full"
  >
    <app-modulo-only
      *ngFor="let card of cards"
      [title]="card.title"
      [description]="card.description"
      [icon]="card.icon"
      [link]="card.link"
    ></app-modulo-only>
  </div>
</div>
