<div class="bg-[var(--primary-color)] p-6 rounded-lg shadow-md">
  <h2 class="text-center text-2xl font-bold mb-4">Cuestionario</h2>

  <form [formGroup]="form" (ngSubmit)="enviarRespuestas()">
    <div
      *ngFor="let cuestion of cuestions"
      class="mb-4 p-4 bg-[var(--primary-color)] rounded-lg shadow"
    >
      <h3 class="text-lg font-semibold mb-2">{{ cuestion.texto }}</h3>
      <div class="flex flex-col">
        <label
          *ngFor="let option of cuestion.options"
          class="flex items-center cursor-pointer"
        >
          <input
            type="radio"
            [name]="'pregunta_' + cuestion.id"
            [value]="option"
            (change)="seleccionarRespuesta(cuestion.id, option)"
            [checked]="form.controls[cuestion.id.toString()].value === option"
            class="mr-2"
          />
          {{ option }}
        </label>
      </div>
    </div>

    <button
      type="submit"
      class="w-full bg-[var(--background-color)] text-[var(--primary-color)] font-serif font-bold py-2 rounded-lg hover:bg-[var(--text-color)] hover:text-[var(--primary-color)]"
    >
      Enviar Respuestas
    </button>
  </form>
</div>
